[Unit]
Description=InfluxDB
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill influxdb-%i
ExecStartPre=-/usr/bin/docker rm influxdb-%i
ExecStartPre=/usr/bin/docker pull adammagaluk/influxdb
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c '\
  seeds=""; \
  while read -r line; do \
    if [ "$line" != "" ]; then \
      seeds="$seeds$(/usr/bin/basename $line),"; \
    fi; \
  done <<< "$(/usr/bin/etcdctl ls /services/influxdb/seed)"; \
  if [ "$seeds" != "" ]; then SEEDS="-e SEEDS=\"$seeds\""; else SEEDS=""; fi; \
  /usr/bin/docker run -rm -v /mnt/data:/data  -p 8083:8083 -p 8086:8086 -p $COREOS_PRIVATE_IPV4:8099:8099 -p $COREOS_PRIVATE_IPV4:8090:8090 -e FORCE_HOSTNAME=$COREOS_PRIVATE_IPV4 $SEEDS --name influxdb-%i adammagaluk/influxdb; \
'
ExecStop=/usr/bin/docker stop influxdb-%i

[X-Fleet]
Conflicts=influxdb@*.service
