[Unit]
Description=Zetta Cloud Proxy
After=docker.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill zetta.proxy.%i
ExecStartPre=-/usr/bin/docker rm zetta.proxy.%i
ExecStartPre=/usr/bin/docker pull mdobson/zetta-docker
ExecStart=/usr/bin/docker run -rm --name zetta.proxy.%i -e COREOS_PRIVATE_IPV4=${COREOS_PRIVATE_IPV4} -e SERVICE_REGISTRY_URL=http://${COREOS_PRIVATE_IPV4}:3000/ -e PORT=3000 -p 80:3000 mdobson/zetta-cloud-proxy
ExecStop=/usr/bin/docker stop zetta.proxy.%i
