[Unit]
Description=elasticmq for testing sqs on vagrant
After=docker.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=0
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/docker kill elasticmq
ExecStartPre=-/usr/bin/docker rm elasticmq
ExecStart=/usr/bin/docker run --rm --name elasticmq -p 9324:9324 adammagaluk/elasticmq
ExecStop=/usr/bin/docker stop elasticmq
