[Unit]
Description=Grafana Backup Service
After=docker.service
Requires=docker.service

[Service]
User=root
Type=oneshot
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStart=/bin/bash /home/core/grafana_backup.sh
