[Unit]
Description=InfluxDB Sidekick Process
Requires=etcd.service
Requires=influxdb.service
After=etcd.service
After=influxdb.service
BindsTo=influxdb.service

[Service]
Restart=always
RestartSec=5 
EnvironmentFile=/etc/environment 
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PRIVATE_IPV4}:8086/ping; \
    if [ $? -eq 0 ]; then \
      /usr/bin/etcdctl set /services/influxdb/seed/${COREOS_PRIVATE_IPV4} \'{"host": "%H", "ipv4_addr":"${COREOS_PRIVATE_IPV4}", "port": 8090 }\' --ttl 30; \
    else \
      /usr/bin/etcdctl rm /services/influxdb/seed/${COREOS_PRIVATE_IPV4}; \
    fi; \
    sleep 20; \
  done'

ExecStop=/usr/bin/etcdctl rm /services/influxdb/seed/${COREOS_PRIVATE_IPV4}
