[Unit]
Description=Send all system logs to logstash
After=systemd-journald.service systemd-networkd.service link-logstash@8081.service
Requires=link-logstash@8081.service

[Service]
Restart=always
TimeoutStartSec=0
Restart=always
RestartSec=5
EnvironmentFile=/etc/profile.d/zetta
ExecStart=/bin/bash /home/core/journal2logstash.sh

[Install]
WantedBy=multi-user.target
