[Unit]
Description=Link Metrics to statsd
After=docker.service statsd-cloudwatch.service
Requires=docker.service statsd-cloudwatch.service

[Service]
User=core
TimeoutStartSec=0
Restart=always
RestartSec=5
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/profile.d/zetta
ExecStartPre=-/usr/bin/docker kill link-metrics-collector
ExecStartPre=-/usr/bin/docker rm link-metrics-collector
ExecStart=/usr/bin/docker run --rm --name link-metrics-collector -e STATSD_HOST=${COREOS_PRIVATE_IPV4}:8125 -e ETCD_PEER_HOSTS=${ETCD_PEER_HOSTS} zetta/link-metrics-collector
ExecStop=/usr/bin/docker stop link-metrics-collector
