[Unit]
Description=Influxdb service
After=docker.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=0
Restart=always
RestartSec=5
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/profile.d/zetta
ExecStartPre=-/usr/bin/docker kill link-influxdb.service
ExecStartPre=-/usr/bin/docker rm link-influxdb.service
ExecStart=/usr/bin/docker run --rm --name link-influxdb.service -p 8083:8083 -p 8086:8086 -v /home/core/influxdb:/influxdb influxdb
ExecStartPost=-/usr/bin/sleep 20
ExecStartPost=-/bin/sh -c 'curl -i -X POST http://${COREOS_PRIVATE_IPV4}:8086/query --data-urlencode "q=CREATE DATABASE deviceData"'
ExecStartPost=-/usr/bin/sleep 10
ExecStartPost=-/bin/sh -c 'curl -i -X POST http://${COREOS_PRIVATE_IPV4}:8086/query --data-urlencode "q=CREATE RETENTION POLICY deviceDataRetention ON "deviceData" DURATION 3d REPLICATION 1 DEFAULT"'
ExecStartPost=-/usr/bin/sleep 5
ExecStartPost=-/bin/sh -c 'curl -i -X POST http://${COREOS_PRIVATE_IPV4}:8086/query --data-urlencode "q=CREATE RETENTION POLICY aggregateDeviceDataRetention ON "deviceData" DURATION 3d REPLICATION 1"'
ExecStartPost=-/usr/bin/sleep 5
ExecStartPost=-/bin/sh -c 'curl -i -X GET "http://${COREOS_PRIVATE_IPV4}:8086/query?q=CREATE%20SUBSCRIPTION%20sub0%20ON%20%22deviceData%22.%22aggregateDeviceDataRetention%22%20DESTINATIONS%20ALL%20%27udp%3A%2F%2F${COREOS_PRIVATE_IPV4}%3A3007%27%3B"'
ExecStartPost=-/usr/bin/sleep 5
ExecStartPost=-/bin/sh -c 'curl -i -X GET "http://${COREOS_PRIVATE_IPV4}:8086/query?q=CREATE%20CONTINUOUS%20QUERY%20%22cq.aggregatedata.average%22%20on%20deviceData%20BEGIN%20select%20mean(value)%20into%20deviceData.%22aggregateDeviceDataRetention%22.%22aggregatedata.average%22%20from%20deviceData.%22deviceDataRetention%22.%2Fdevicedata.*%2F%20group%20by%20time(1m)%2Cdevice%2Chub%2CdeviceType%2Cstream%20fill(none)%20END"'
ExecStartPost=-/usr/bin/sleep 5
ExecStartPost=-/bin/sh -c 'curl -i -X GET "http://${COREOS_PRIVATE_IPV4}:8086/query?q=CREATE%20CONTINUOUS%20QUERY%20%22cq.aggregatedata.max%22%20on%20deviceData%20BEGIN%20select%20max(value)%20into%20deviceData.%22aggregateDeviceDataRetention%22.%22aggregatedata.max%22%20from%20deviceData.%22deviceDataRetention%22.%2Fdevicedata.*%2F%20group%20by%20time(1m)%2Cdevice%2Chub%2CdeviceType%2Cstream%20fill(none)%20END"'
ExecStartPost=-/usr/bin/sleep 5
ExecStartPost=-/bin/sh -c 'curl -i -X GET "http://${COREOS_PRIVATE_IPV4}:8086/query?q=CREATE%20CONTINUOUS%20QUERY%20%22cq.aggregatedata.min%22%20on%20deviceData%20BEGIN%20select%20min(value)%20into%20deviceData.%22aggregateDeviceDataRetention%22.%22aggregatedata.min%22%20from%20deviceData.%22deviceDataRetention%22.%2Fdevicedata.*%2F%20group%20by%20time(1m)%2Cdevice%2Chub%2CdeviceType%2Cstream%20fill(none)%20END"'

ExecStop=/usr/bin/docker stop link-influxdb.service
