[Unit]
Description=Link Device To Cloud Credential Server
After=docker.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=0
Restart=always
RestartSec=5
EnvironmentFile=/etc/environment
EnvironmentFile=/etc/profile.d/zetta
ExecStartPre=-/usr/bin/docker kill link-credential-api
ExecStartPre=-/usr/bin/docker rm link-credential-api
ExecStart=/usr/bin/docker run --rm --name link-credential-api --env-file /etc/profile.d/zetta -e DB_CONNECTION_URL=${CREDENTIAL_DB_CONNECTION_URL} -e PORT=2000 -p 2000:2000 zetta/link-credential-api
ExecStop=/usr/bin/docker stop link-credential-api
